services:
  easypay_database:
    container_name: easypay_database
    image: postgres:17.4
    environment:
      - POSTGRES_DB=easypay
      - POSTGRES_USER=easypay
      - POSTGRES_PASSWORD=easypay
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "easypay", "-d", "easypay" ]
      interval: 5s
    restart: unless-stopped

  easypay_backend:
    container_name: easypay_backend
    build: ./backend/target/docker/stage
    environment:
      "DB_HOST": "easypay_database"
    ports:
      - "9000:9000"
    depends_on:
      easypay_database:
        condition: service_healthy
    restart: unless-stopped

  easypay_frontend:
    container_name: easypay_frontend
    build: ./frontend
    ports:
      - "8080:80"
    restart: unless-stopped