<th scope="row">{{ fieldLabel }}</th>
<td>
  <code *ngIf="!editing">{{ fieldValueVisualizer || fieldValue }}</code>

  <div *ngIf="editing">
    <input #inputField [type]="inputType" class="form-control" placeholder
           [formControl]="formField" (keyup.enter)="editField()"
           [class.is-invalid]="formField.dirty && formField.invalid">
  </div>
</td>
<td>
  <button type="button" class="btn btn-outline-secondary btn-sm" *ngIf="!editing"
          (click)="enableEditField()">
    <i class="bi bi-pencil-fill"></i>
  </button>
  <button type="button" class="btn btn-outline-success btn-sm" *ngIf="editing"
          (click)="editField()" [disabled]="formField.invalid || waitingResponse">
    <i class="bi bi-check-lg"></i>
  </button>
</td>
