<div class="row justify-content-center">
  <div class="col col-md-10 col-lg-8 col-xl-6 col-xxl-5">
    <div class="card">
      <div class="card-body">
        <app-alert/>

        <h2 class="card-title d-flex justify-content-center">Ricarica wallet</h2>
        <hr/>
        @if (userData && userData.paymentCards.length > 0) {
          <form [formGroup]="rechargeForm" (ngSubmit)="onSubmit()">
            <!-- Card ID -->
            <div class="form-floating">
              <select class="form-select form-control" id="cardId" aria-label="Card ID"
                      [formControl]="rechargeForm.controls.cardId">
                @for (paymentCard of userData.paymentCards; track paymentCard.cardId) {
                  <option
                    [value]="paymentCard.cardId">{{ `${userData.firstName} ${userData.lastName} ${paymentCard.cardNumber}` }}
                  </option>
                }
              </select>
              <label for="cardId">Carta di pagamento</label>
              <div class="invalid-tooltip">
                {{ ValidationUtils.printErrors(rechargeForm.controls.cardId) }}
              </div>
            </div>
            <!-- Amount -->
            <div class="form-floating my-3">
              <input type="number" class="form-control" id="amount" placeholder
                     [formControl]="rechargeForm.controls.amount"
                     [class.is-invalid]="rechargeForm.controls.amount.dirty && rechargeForm.controls.amount.invalid">
              <label for="amount">Importo</label>
              <div class="invalid-tooltip">
                {{ ValidationUtils.printErrors(rechargeForm.controls.amount) }}
              </div>
            </div>

            <button class="btn btn-outline-dark w-100 py-2" type="submit" id="submit"
                    [disabled]="rechargeForm.invalid || loading">
              <span class="spinner-border spinner-border-sm me-1" aria-hidden="true" *ngIf="loading"></span>
              <span role="status">Ricarica</span>
            </button>
          </form>
        } @else {
          <small class="d-flex justify-content-center">Per poter effettuare una ricarica è necessaria almeno una carta
            di pagamento collegata al conto</small>
          <div class="d-flex align-items-center justify-content-center mt-3">
            <a class="text-dark" routerLink="../payment-cards">Vai alle carte</a>
          </div>
        }
      </div>
    </div>
  </div>
</div>
