<div class="container col-6">
  <div class="card">
    <div class="card-body">
      <app-alert/>

      <h2 class="card-title">Login</h2>
      <small>Email e password</small>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Email -->
        <div class="form-floating my-3">
          <input type="email" class="form-control" id="email" placeholder="mario.rossi@gmail.com"
                 formControlName="email">
          <label for="email">Email</label>
          <div class="text-danger" *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
            Campo obbligatorio
          </div>
        </div>
        <!-- Password -->
        <div class="form-floating my-3">
          <input type="password" class="form-control" id="password" placeholder="password" formControlName="password">
          <label for="password">Password</label>
          <div class="text-danger" *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
            Campo obbligatorio
          </div>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit" id="submit"
                [disabled]="loginForm.invalid || this.loading">
          <span class="spinner-border spinner-border-sm me-1" aria-hidden="true" *ngIf="this.loading"></span>
          <span role="status">Accedi</span>
        </button>
        <p class="mt-5 mb-3 text-center text-body-secondary">&copy; EasyPay - 2025</p>
      </form>
    </div>
  </div>
</div>
