<main class="h-100">
  <div #loading class="h-100 w-100 position-absolute d-flex justify-content-center align-items-center text-light"
       style="background-color: rgba(0, 0, 0, 0.5); z-index: 1">
    <app-spinner/>
  </div>

  <div class="container-fluid h-100 w-100 align-items-center">
    <div class="row h-100 align-items-center">
      <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-xxl-2 mx-auto">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <h1 class="h3 mb-3 fw-normal">Accesso</h1>

          <!-- Email -->
          <div class="form-floating my-3">
            <input type="email" class="form-control" id="email" placeholder="mario.rossi@mail.com" formControlName="email">
            <label for="email">Email</label>
            <div class="text-danger" *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
              Campo obbligatorio
            </div>
          </div>
          <!-- Password -->
          <div class="form-floating my-3">
            <input type="password" class="form-control" id="password" placeholder="password" formControlName="password">
            <label for="password">Password</label>
            <div class="text-danger" *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
              Campo obbligatorio
            </div>
          </div>

          <button class="btn btn-primary w-100 py-2" type="submit" [disabled]="loginForm.invalid">Login</button>

          <p class="mt-5 mb-3 text-center text-body-secondary">&copy; 2025</p>
        </form>
      </div>
    </div>
  </div>
</main>
