<div class="row justify-content-center">
  <div class="col col-md-10 col-lg-8 col-xl-6 col-xxl-5">
    <div class="card">
      <div class="card-body">
        <app-alert/>

        <h2 class="card-title d-flex justify-content-center">Creazione operazioni pianificate</h2>
        <hr/>
        <form [formGroup]="scheduledOperationForm" (ngSubmit)="createScheduledOperation()">

          <!-- Recipient Email -->
          <div class="form-floating my-3">
            <input type="email" class="form-control" id="email" placeholder="mario.rossi@gmail.com"
                   [formControl]="scheduledOperationForm.controls.recipientEmail"
                   [class.is-invalid]="scheduledOperationForm.controls.recipientEmail.dirty && scheduledOperationForm.controls.recipientEmail.invalid"/>
            <label for="email">Email</label>
          </div>
          <!-- Description -->
          <div class="form-floating my-3">
            <textarea class="form-control" id="description" placeholder="Descrizione"
                      [formControl]="scheduledOperationForm.controls.description"
                      [class.is-invalid]="scheduledOperationForm.controls.description.dirty && scheduledOperationForm.controls.description.invalid"></textarea>
            <label for="description">Descrizione</label>
          </div>
          <!-- Amount -->
          <div class="form-floating my-3">
            <input type="number" class="form-control" id="amount" placeholder="amount"
                   [formControl]="scheduledOperationForm.controls.amount"
                   [class.is-invalid]="scheduledOperationForm.controls.amount.dirty && scheduledOperationForm.controls.amount.invalid">
            <label for="amount">Importo</label>
          </div>
          <!-- Date time -->
          <div class="form-floating my-3">
            <input type="datetime-local" class="form-control" id="dateTime" placeholder="dateTime"
                   [formControl]="scheduledOperationForm.controls.dateTime"
                   [class.is-invalid]="scheduledOperationForm.controls.dateTime.dirty && scheduledOperationForm.controls.dateTime.invalid">
            <label for="dateTime">Data dell'operazione</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="repeat-toggle" [checked]="repeatToggle"
                   (click)="repeatToggle = !repeatToggle">
            <label class="form-check-label" for="repeat-toggle">
              Ripetizione
            </label>
          </div>

          <div *ngIf="repeatToggle">
            <div class="row">
              <div class="col-6">
                <div class="form-floating my-3">
                  <input type="number" class="form-control" id="repeatMonths" placeholder="0"
                         [formControl]="scheduledOperationForm.controls.repeatMonths"
                         [class.is-invalid]="scheduledOperationForm.controls.repeatMonths.dirty && scheduledOperationForm.controls.repeatMonths.invalid">
                  <label for="repeatMonths">Mesi</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating my-3">
                  <input type="number" class="form-control" id="repeatDays" placeholder="0"
                         [formControl]="scheduledOperationForm.controls.repeatDays"
                         [class.is-invalid]="scheduledOperationForm.controls.repeatDays.dirty && scheduledOperationForm.controls.repeatDays.invalid">
                  <label for="repeatDays">Giorni</label>
                </div>
              </div>
            </div>
          </div>

          <button class="btn btn-outline-dark w-100 mt-3" type="submit" id="submit"
                  [disabled]="scheduledOperationForm.invalid || this.loading">
            <span class="spinner-border spinner-border-sm me-1" aria-hidden="true" *ngIf="this.loading"></span>
            <span role="status">Crea</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center my-5">
  <div class="col col-md-10 col-lg-8 col-xl-6 col-xxl-5">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title d-flex justify-content-center">Operazioni pianificate</h2>
        <hr/>
        <app-spinner></app-spinner>

        @if (this.scheduledOperations?.length || 0 > 0) {
          <div ngbAccordion>
            @for (scheduledOperation of this.scheduledOperations; track scheduledOperation) {
              <div ngbAccordionItem>
                <h2 ngbAccordionHeader>
                  <button ngbAccordionButton class="bg-opacity-10"
                          [ngClass]="scheduledOperation.status == 'Fallita' ? 'bg-danger' : 'bg-secondary'">
                    <div class="container row">
                      <div class="col-1 d-flex align-items-center justify-content-center">
                        <img class="img-fluid"
                             [src]="APP_CONSTANTS.ENDPOINT_AVATAR + scheduledOperation.recipientCustomerId"
                             alt="user-avatar"/>
                      </div>
                      <div class="col-8">
                        <h5>
                          <b>{{ scheduledOperation.interactedFirstName + " " + scheduledOperation.interactedLastName }}</b>
                        </h5>
                        <small class="m-0 ps-1">{{ scheduledOperation.when | date:'dd MMMM HH:mm' }}</small>
                      </div>
                      <div class="col-3 d-flex align-items-center justify-content-center">
                        <h5>{{ Number(scheduledOperation.amount) | number:'1.2-2' }} &euro;</h5>
                      </div>
                    </div>
                  </button>
                </h2>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                    <ng-template>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                          Transazione
                          <code class="ps-2">{{ scheduledOperation.id }}</code></li>
                        <li class="list-group-item">
                          Destinatario
                          <code
                            class="ps-2">{{ scheduledOperation.interactedFirstName + " " + scheduledOperation.interactedLastName }}</code>
                        </li>
                        <li class="list-group-item">
                          Descrizione
                          <code class="ps-2">{{ scheduledOperation.description }}</code>
                        </li>
                        <li class="list-group-item">
                          Email
                          <code class="ps-2" placement="bottom"
                                ngbTooltip="{{scheduledOperation.recipientCustomerId}}">{{ scheduledOperation.interactedEmail }}</code>
                        </li>
                        <li class="list-group-item">
                          Data
                          <code class="ps-2">{{ scheduledOperation.when | date:'dd/MM/YYYY HH:mm:ss' }}</code>
                        </li>
                        <li *ngIf="scheduledOperation.repeat" class="list-group-item">
                          Ripetizione
                          <code class="ps-2">{{ scheduledOperation.repeat }}</code>
                        </li>
                        <li class="list-group-item">
                          Status
                          <code class="ps-2">{{ scheduledOperation.status }}</code>
                        </li>
                      </ul>
                      <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-outline-danger"
                                (click)="deleteScheduledOperation(scheduledOperation.id)">
                          Elimina
                        </button>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            }
          </div>
        } @else {
          <small class="d-flex justify-content-center">Nessuna operazione pianificata</small>
        }
      </div>
    </div>
  </div>
</div>
