<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <h4 class="mb-0">Saldo del wallet</h4>
        <h1 class="placeholder-glow mb-3">
          @if (wallet) {
            {{ Number(this.wallet!.balance) | number:'1.2-2' }}&euro;
          } @else {
            <span class="placeholder rounded">10000000,00</span>
          }
        </h1>

        <button type="button" class="btn btn-success" routerLink="../transfer">Trasferisci denaro</button>
        <button type="button" class="btn btn-info ms-3" routerLink="../recharge">Ricarica wallet</button>
      </div>
    </div>

    <div class="card mt-5">
      <div class="card-body">
        <h4 class="card-title">Operazioni recenti</h4>
        <app-spinner #historySpinner/>

        <div ngbAccordion *ngIf="this.wallet?.history">
          @for (operation of this.wallet?.history; track operation.transactionId) {
            <div ngbAccordionItem>
              <h2 ngbAccordionHeader>
                <app-accordion-button [operation]="operation" [customerId]="customerId"/>
              </h2>
              <div ngbAccordionCollapse>
                <app-accordion-body [operation]="operation" [customerId]="customerId"/>
              </div>
            </div>
          }
        </div>

        @if (wallet) {
          <div class="d-flex justify-content-center align-items-center mt-3">
            <ngb-pagination [(page)]="page"
                            [pageSize]="wallet.pageSize"
                            [collectionSize]="wallet.historyCount"
                            [maxSize]="5"
                            [rotate]="true"
                            (pageChange)="this.getWallet()"
                            [directionLinks]="false"/>
          </div>
        }
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Interagisci nuovamente</h4>

        <app-spinner #interactedUsersSpinner/>

        <div class="list-group">
          @for (interactedCustomer of this.interactedCustomers; track interactedCustomer) {
            <button href="#" class="list-group-item list-group-item-action"
                    (click)="$event.preventDefault(); goToTransfer(interactedCustomer.interactedEmail)">
              <div class="d-flex align-items-center">
                <img class="img-fluid rounded-circle me-3" style="width: 40px; height: 40px;"
                     [src]="APP_CONSTANTS.ENDPOINT_AVATAR + interactedCustomer.interactedCustomerId"
                     alt="user-avatar"/>
                <h5
                  class="mb-1"> {{ interactedCustomer.interactedFirstName + " " + interactedCustomer.interactedLastName }}</h5>
              </div>
            </button>
          }
        </div>
      </div>

    </div>
  </div>
</div>
