<main class="h-100">
  <div class="container-fluid h-100 w-100 align-items-center">
    <div class="row h-100 align-items-center">
      <div class="col-10 col-sm-8 col-md-6 col-lg-4 mx-auto">
        <form [formGroup]="transferForm" (ngSubmit)="onSubmit()">
          <!-- Email -->
          <div class="form-floating my-3">
            <input type="email" class="form-control" id="email" placeholder="mario.rossi@mail.com"
                   formControlName="recipientEmail">
            <label for="email">Email</label>
            <div class="text-danger" *ngIf="transferForm.controls.recipientEmail.touched && transferForm.controls.recipientEmail.invalid">
              Campo obbligatorio
            </div>
          </div>
          <!-- Amount -->
          <div class="form-floating my-3">
            <input type="number" class="form-control" id="amount" placeholder="amount" formControlName="amount">
            <label for="amount">Quantità</label>
            <div class="text-danger" *ngIf="transferForm.controls.amount.touched && transferForm.controls.amount.invalid">
              Campo obbligatorio
            </div>
          </div>

          <button class="btn btn-primary w-100 py-2" type="submit" [disabled]="transferForm.invalid">Invia</button>
        </form>
      </div>
    </div>
  </div>
</main>
