<main class="h-100">
  <div #loading class="h-100 w-100 position-absolute d-flex justify-content-center align-items-center text-light"
       style="background-color: rgba(0, 0, 0, 0.5); z-index: 1">
    <app-spinner/>
  </div>

  <div class="container-fluid h-100 w-100 align-items-center">
    <div class="row h-100 align-items-center">
      <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-xxl-2 mx-auto">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <h1 class="h3 mb-3 fw-normal">Registrazione</h1>

          <!-- Name -->
          <div class="form-floating my-3">
            <input type="text" class="form-control" id="name" placeholder="Mario" formControlName="name">
            <label for="name">Nome</label>
            <div class="text-danger" *ngIf="registerForm.controls.name.touched && registerForm.controls.name.invalid">
              Campo obbligatorio
            </div>
          </div>
          <!-- Surname -->
          <div class="form-floating my-3">
            <input type="text" class="form-control" id="surname" placeholder="Rossi" formControlName="surname">
            <label for="surname">Cognome</label>
            <div class="text-danger" *ngIf="registerForm.controls.surname.touched && registerForm.controls.surname.invalid">
              Campo obbligatorio
            </div>
          </div>
          <!-- Birth date -->
          <div class="form-floating my-3">
            <input type="date" class="form-control" id="birthDate" formControlName="birthDate">
            <label for="birthDate">Data di nascita</label>
            <div class="text-danger" *ngIf="registerForm.controls.birthDate.touched && registerForm.controls.birthDate.invalid">
              Campo obbligatorio
            </div>
          </div>
          <!-- Email -->
          <div class="form-floating my-3">
            <input type="email" class="form-control" id="email" placeholder="mario.rossi@mail.com" formControlName="email">
            <label for="email">Email</label>
            <div class="text-danger" *ngIf="registerForm.controls.email.touched && registerForm.controls.email.invalid">
              Campo obbligatorio
            </div>
          </div>
          <!-- Password -->
          <div class="form-floating my-3">
            <input type="password" class="form-control" id="password" placeholder="password" formControlName="password">
            <label for="password">Password</label>
            <div class="text-danger" *ngIf="registerForm.controls.password.touched && registerForm.controls.password.invalid">
              Campo obbligatorio
            </div>
          </div>

          <button class="btn btn-primary w-100 py-2" type="submit" [disabled]="registerForm.invalid">Registrati</button>

          <p class="mt-5 mb-3 text-center text-body-secondary">&copy; 2025</p>
        </form>
      </div>
    </div>
  </div>
</main>
