<div class="container col-6">
  <div class="card">
    <div class="card-body">
      <app-alert/>

      <h2 class="card-title">Registrazione</h2>
      <small>Dati personali</small>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <!-- First name -->
        <div class="form-floating my-3">
          <input type="text" class="form-control" id="firstName" placeholder="Mario" formControlName="firstName">
          <label for="firstName">Nome</label>
          <div class="text-danger"
               *ngIf="registerForm.controls.firstName.touched && registerForm.controls.firstName.invalid">
            Campo obbligatorio
          </div>
        </div>
        <!-- Last name -->
        <div class="form-floating my-3">
          <input type="text" class="form-control" id="lastName" placeholder="Rossi" formControlName="lastName">
          <label for="lastName">Cognome</label>
          <div class="text-danger"
               *ngIf="registerForm.controls.lastName.touched && registerForm.controls.lastName.invalid">
            Campo obbligatorio
          </div>
        </div>
        <!-- Birth date -->
        <div class="form-floating my-3">
          <!--            TODO ngdatepicker -->
          <input type="date" class="form-control" id="birthDate" formControlName="birthDate">
          <label for="birthDate">Data di nascita</label>
          <div class="text-danger"
               *ngIf="registerForm.controls.birthDate.touched && registerForm.controls.birthDate.invalid">
            Campo obbligatorio
          </div>
        </div>
        <!-- Email -->
        <div class="form-floating my-3">
          <input type="email" class="form-control" id="email" placeholder="mario.rossi@gmail.com"
                 formControlName="email">
          <label for="email">Email</label>
          <div class="text-danger" *ngIf="registerForm.controls.email.touched && registerForm.controls.email.invalid">
            Campo obbligatorio
          </div>
        </div>
        <!-- Password -->
        <div class="form-floating my-3">
          <input type="password" class="form-control" id="password" placeholder="password" formControlName="password">
          <label for="password">Password</label>
          <div class="text-danger"
               *ngIf="registerForm.controls.password.touched && registerForm.controls.password.invalid">
            Campo obbligatorio
          </div>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit" id="submit"
                [disabled]="registerForm.invalid || this.loading">
          <span class="spinner-border spinner-border-sm me-1" aria-hidden="true" *ngIf="this.loading"></span>
          <span role="status">Registrati</span>
        </button>

        <p class="mt-5 mb-3 text-center text-body-secondary">&copy; EasyPay - 2025</p>
      </form>
    </div>
  </div>
</div>

<!--TODO https://getbootstrap.com/docs/5.3/components/spinners/#buttons-->
